body {
    background-image: url("img/bg1.jpg");
    background-size: 100%;
    perspective: 1px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    position: relative;
}

.navbar {
    background-color: transparent !important;
}



.jumbotron {
    background-color: transparent;
}

.navbar-toggler {
    background-color: rgb(255, 217, 0);
}