.header{width:100%;
		height:250px;
		background-image:url(gambar/images.png); 
		}
.header1{width:100%;
		height:100px;
		background-color:#66ff33;
		}		
.conten{width:100%;
		height:500px;
		}
.subconten1{width:100%;
			height:40px;
}		
.subconten2{width:100%;
			height:500px;
			padding:50px;
}		