.header{width:100%;
		height:250px;
		background-image:url(gambar/images.png); 
		}
.header1{width:100%;
		height:100px;
		background-color:#66ff33;
		}		
.conten{width:100%;
		height:750px;
		}
		
 .daftar1 {
        width: 95%;
        height: 600px;
        background: #7CFC00;
        margin: 40px;
    }